{% extends 'base.html' %}

{% block content %}
    <div class="section-title-page area-bg area-bg_dark area-bg_op_70">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="b-title-page bg-primary_a">{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block breadcrumbs %}
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home' %}"><i class="icon fa fa-home"></i></a>
                            </li>
                            <li class="active">{% if title %} {{ title }} {% endif %}</li>
                        </ol>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="b-filter-2__inner">
                        <div class="b-filter-2__group">
                            <label for="name" class="b-filter-2__group-title">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <div class="b-filter-2__group">
                            <label for="name" class="b-filter-2__group-title">{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <div class="b-filter-2__group">
                            <label for="name" class="b-filter-2__group-title">{{ form.message.label }}</label>
                            {{ form.message }}
                        </div>

                        <input type="submit" value="Send" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.0513523376994!2d27.56800377684889!3d53.91306337245909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfbd6982b051%3A0xfe6c425b5f1d9f75!2svul.%20%C4%8Cyrvonaja%207%2C%20Minsk!5e0!3m2!1sen!2sby!4v1682609687382!5m2!1sen!2sby" width="100%" style="border:0; height:100vh;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock %}
